.cajon.color-primario, .bloque-texto-d.color-primario:before, .color-rose, .bloque-texto-b.color-primario:before
  background-color: #F4DEDB
  border-radius: 0px

.bloque-texto-d
  border-top: 0px

.cajon.color-acento-contenido, .tarjeta.color-celeste
  background-color: #BFCCDE

.cajon.color-gray
  background-color: #ECF1F5
  &::before
    background-color: #D3DFEB
    mix-blend-mode: multiply
    width: 24px
    height: 100%
    top: 0
    left: 0

.cajon.color-red
  background-color: #FEE0DC
  &::before
    background-color: #EDD6D3
    mix-blend-mode: multiply
    width: 165px
    height: 100%
    top: 0
    left: 0

.cajon-b:before
  bottom: 0%

.tarjeta.color-blue
  background-color: #CED6E1 !important

.tarjeta.color-gray
  background-color: #E1E5EB !important

.tabla-a th
  color: #000 !important

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #DCEBF5
  color: #000 !important
