.cajon.color-primario, .color-rose, .bloque-texto-b.color-primario:before
  background-color: #F4DEDB
  border-radius: 0px

.bloque-texto-d.color-primario:before
  background-color: #F4E2E0

.bloque-texto-d
  border-top: 0px

.cajon.color-acento-contenido, .tarjeta.color-celeste
  background-color: #BFCCDE

.cajon.color-gray
  background-color: #ECF1F5
  &::before
    background-color: #D3DFEB
    mix-blend-mode: multiply
    width: 28px
    height: 100%
    top: 0
    left: 0

.BG01
  background-color: #FBB1A6
.BG02
  background-color: #FEE0DC

.BG03
  background-color: #D2E1F1
.BG04
  background-color: #F3F9FF

.cajon-b:before
  bottom: 0%

.tarjeta.color-blue
  background-color: #CED6E1 !important

.tarjeta.color-gray
  background-color: #E1E5EB !important

.tabla-a th
  color: #000 !important

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #DCEBF5
  color: #000 !important

.tarjeta.flip-card
  background-color: transparent
  perspective: 1000px

.tarjeta.flip-card-inner
  position: relative
  width: 100%
  height: 395px
  transition: transform 2s
  transform-style: preserve-3d

.tarjeta.flip-card:hover .flip-card-inner
  transform: rotateY(180deg)

.tarjeta.flip-card-front, .flip-card-back
  position: absolute
  width: 100%
  height: 395px
  border-radius: 0px
  -webkit-backface-visibility: hidden
  backface-visibility: hidden

.tarjeta.flip-card-front
  background-color: #fff
  color: black

.tarjeta.flip-card-blue
  background-color: $color-acento-contenido
  color: white
  border-radius: 0px
  height: 395px
  transform: rotateY(180deg)

.flip-card-red
  background-color: $color-primario
  color: black
  border-radius: 0px
  height: 395px
  transform: rotateY(180deg)

.imageTarget
  width: 624px
  height: 397px

.imgHG
  height: 95%
  width: 95%

.bloque-texto-d__texto *
  display: unset

.bloque-texto-d i:last-of-type
  margin-left: -70px
  vertical-align: top

.bloque-texto-d:before
  left: 25%